.problem-menu-container {
  width: 100%;
  height: 310px;
}

.problem-menu-btn {
  @extend .silver-snow-btn;
  float: right;
  width: 135px;
  margin-top: 35px;
  margin-right: 25px;
}

.posted-title {
  font-size: 30px;
  font-family: $main-font-family;
  color: $darkslategray-font;
}

.posted-problem-name {
  font-size: 25px;
  font-family: $main-font-family;
  color: $darkslategray-font;
  text-align: center;
  margin-top: 10px;
}

.silver-snow-problem-box {
  @extend .question-box;
  background-color: $silver-snow;
  margin-top: 20px;
}

.arguments-table-container {
  @extend .table-container;
  height: 150px;
}

.expected-output-box {
  @extend .silver-snow-problem-box;
  height: 50px;
}

.options-header {
  font-size: 17px;
  font-family: $main-font-family;
  color: $darkslategray-font;
  margin-top: 10px;
  margin-bottom: 10px;
}

.options-wrapper {
  .option-position:nth-child(odd) {
    width: 50%;
  }
}

.option-position {
  display: inline-block;
}

.checkbox-option {
  font-family: $main-font-family;
  color: $darkslategray-font;
  width: 100px;
}

.float-right-label {
  position: relative;
  line-height: 24px;
  color: $darkslategray-font;
  font-family: $main-font-family;
  font-size: 17px;

  float: right;
  width: 135px;
  margin-top: 35px;
  margin-right: 25px;
}

.left-label {
  margin-top: 10px;
  font-size: 17px;
  font-family: $main-font-family;
  color: $darkslategray-font;
}