$title-line-height: 45px;
$top-bar-height: 22px;
$create-session-btn-width: 250px;
$session-btn-separator: 10px;
$rounded-btn-line-height: 40px;
$page-width: calc(100% - 2 * #{$page-left});
$page-height: calc(100% - 3 * #{$page-top});
$textbox-height: 22px;
$textbox-width: 400px;
