@-webkit-keyframes page-slide-in {
    100% {
      left: 0%;
    }
}

@keyframes page-slide-in {
    100% {
      left: 0%
     }
}

@-webkit-keyframes page-slide-out-left {
    100% {
      left: calc(-100% - 10px);
    }
}

@keyframes page-slide-out-left {
    100% {
      left: calc(-100% - 10px);
     }
}

@-webkit-keyframes page-slide-out-right {
    100% {
      left: calc(100% + 10px);
    }
}

@keyframes page-slide-out-right {
    100% {
      left: calc(100% + 10px);
     }
}

.page-out-right {
  -webkit-animation: page-slide-out-right 1.1s forwards;
  animation: page-slide-out-right 1.1s forwards;
}

.page-out-left {
  -webkit-animation: page-slide-out-left 1.1s forwards;
  animation: page-slide-out-left 1.1s forwards;
}

.page-in {
  -webkit-animation: page-slide-in 1.1s forwards;
  animation: page-slide-in 1.1s forwards;
}
