@-webkit-keyframes select-create-page-btn-slide-left {
    100% {
      left: -2 * $create-session-btn-width - 10px;
      // opacity: -1;
    }
}

@keyframes select-create-page-btn-slide-left {
    100% {
      left: -2 * $create-session-btn-width - 10px;
      // opacity: -1;
     }
}

@-webkit-keyframes select-join-page-btn-slide-left {
    100% {
      left: -$create-session-btn-width - 10px;
      // opacity: -1;
    }
}

@keyframes select-join-page-btn-slide-left {
    100% {
      left: -$create-session-btn-width - 10px;
      // opacity: -1;
     }
}

@-webkit-keyframes join-session-textbox-slide-left {
    100% {
      left: calc(50% - #{$textbox-width} / 2);
      // opacity: -1;
    }
}

@keyframes join-session-textbox-slide-left {
    100% {
      left: calc(50% - #{$textbox-width} / 2);
      // opacity: -1;
     }
}

@-webkit-keyframes joinbtn-slide-left {
    100% {
      left: calc(50% - #{$create-session-btn-width} / 2);
      // opacity: -1;
    }
}

@keyframes joinbtn-slide-left {
    100% {
      left: calc(50% - #{$create-session-btn-width} / 2);
      // opacity: -1;
     }
}

.select-create-page-btn-slide-left-class {
  -webkit-animation: select-create-page-btn-slide-left 1s forwards;
  animation: select-create-page-btn-slide-left 1s forwards;
}

.select-join-page-btn-slide-left-class {
  -webkit-animation: select-join-page-btn-slide-left 1s forwards;
  animation: select-join-page-btn-slide-left 1s forwards;
}

.join-session-textbox-slide-left-class {
  -webkit-animation: join-session-textbox-slide-left 1s forwards;
  animation: join-session-textbox-slide-left 1s forwards;
}

.joinbtn-slide-left-class {
  -webkit-animation: joinbtn-slide-left 1s forwards;
  animation: joinbtn-slide-left 1s forwards;
}
