$nice-grey: #e7e8e9;
$grey: #C4C4C4;
$mid-grey: #5A5A5A;
$dark-grey: #666666;
$white: #ffffff;
$black: #000000;
$marble-blue: #566D7E;
$slate-blue: #2B487F;
$dark-slate-blue: #2B3856;
$cool-blue: #567890;
$green-steel: #2C4750;
$dark-blue-steel: #2C3E50;
$grey-font-color: #D6DBDF;
$friendly-red: #DA0000;
$friendly-blue: #4444FF;

// light color theme - same as one light in atom code editor
$snow: hsl(0,0,98);
$silver-snow: hsl(240,2,91);
$dark-silver-snow: hsl(240,1,86);
$darkslategray-font: hsl(0,0,25);
